.sideBarContainer {
  width: 270px;
  background-color: rgb(143, 188, 240);
  min-height: 100vh;
  padding: 10px;
}

.sideBar {
  background-color: rgb(143, 188, 240);
}

.item {
  margin-bottom: 20px !important;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: #0d6efd;
  border: none;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .sideBarContainer {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
    .sideBarContainer {
      display: block !important;
      position: static !important;
      width: 270px !important;
    }
  }
